# Compiled output
*.exe
*.o
*.out
a.out
*.obj

# IDE / editor
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Build directories
build/
Debug/
Release/

# STM32CubeIDE build artifacts
**/Debug/
**/Release/
*.elf
*.bin
*.hex
*.map
*.list
*.o
*.d
*.su
**/.metadata/